.card-container {
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1rem;

  > :nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;

    max-height: 600px;
  }

  > :nth-child(2),
  > :nth-child(3) {
    grid-column: span 2;
  }

  > :nth-child(4),
  > :nth-child(5),
  > :nth-child(6) {
    grid-column: span 2;
  }
}
